* {
    box-sizing: border-box;
}

a:focus,
input:focus,
select:focus {
    outline: 3px solid red;
}

body {
    background: rgb(50, 125, 255);
    background: radial-gradient(circle, rgba(50, 125, 255, 1) 0%, rgba(69, 63, 175, 1) 100%);
    font-family: sans-serif;
}

.legend {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    top: 0;
    left: 0;
}

.legend h4 {
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
}

.legend .legend__keys {
    text-align: left;
    padding: 0;
    margin: 0;
    padding: 0px 20px 10px 25px;
}

.legend .legend__keys li {
    font-size: 12px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.suggestions {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 2fr; */

    width: 300px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.suggestions div {
    background-color: white;
    cursor: pointer;
}

.suggestions .suggestions__suggestion:not(:last-child) {
    margin: 10px 0;
}

.suggestions div a {
    font-size: 24px;
    font-weight: 700;
    padding-left: 20px;
    text-decoration: none;
    color: black;
    pointer-events: none;
}

.blink-day {
    animation: blink 1s ease;
    transform-origin: left;
}

.blink-month {
    animation: blink 1s ease;
    transform-origin: right;
}

.blink-year {
    animation: blink 1s ease;
    transform-origin: bottom;
}

@keyframes blink {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(1.1)
    }
    20% {
        transform: scale(1.0);
    }
    30% {
        transform: scale(1.1);
    }
    40% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1)
    }
    60% {
        transform: scale(1.0);
    }
    70% {
        transform: scale(1.1);
    }
    80% {
        transform: scale(1);
    }
    90% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.days:hover + .datepicker__day {
    background-color: red;
}

.datepicker {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-gap: 10px;

    width: 300px;
    margin: 0 auto;

    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.datepicker div {
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.datepicker input {
    opacity: 0.95;
    border: none;
    text-align: center;

    font-size: 50px;
    font-weight: 700;
    padding: 10px;
    width: 100%;
}

.datepicker__day {
    grid-column: 1 / 2;
    grid-row: 1;
}

.datepicker__day input {
    padding: 0;
}

.datepicker__month {
    grid-column: 2 / 3;
    grid-row: 1;
}

.datepicker__year {
    grid-column: 1 / 3;
    grid-row: 2;
}

.datepicker__year input {
    font-size: 40px;
}

.datepicker__month .month__dropdown {
    -webkit-appearance: none;
    font-size: 50px;
    font-weight: 700;
    border: none;
    background: none;
}

.datepicker__year .year__dropdown {
    -webkit-appearance: none;
    font-size: 50px;
    font-weight: 700;
    border: none;
    background: none;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 18px;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 18px;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    font-size: 18px;
}